<div class="contrainer">

<tr>
    <td button data-id="{{ case.id }}" onclick="deletecase(this)" type="button" >X</td>
    <td>{{ case.caseid }}</td>
    <td>{{ case.title }}</td>
    <td>{{ case.owner }}</td>
    <td>{{ case.catagory }}</td>
    <td>{{ case.subcatagory }}</td>
    <td>{{ case.status }}</td>
    <td>{{ case.progress }}</td>
    <td>{{ case.progressDetails }}</td>
    <td>{{ case.incidentReporter }}</td>
    <td>{{ case.incidentOwner }}</td>
    <td>{{ case.priority }}</td>
    <td>{{ case.dateCreated|date }}</td>
    </tr>




</div>