<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Case Tracker</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'Case/css/bootstrap.css' %}"/>
    <link rel="stylesheet" href="{% static 'Case/css/style.css' %}"/>
</head>
<body>
{% block content %}
{% endblock %}
<script src="{% static 'Case/js/case.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    var csrf_token = '{{ csrf_token }}'
</script>
</body>
</html>